// autoprefixer: > 5%; last 2 Chrome versions; not ie 6-9, sourceMap: true, out: ../css/styles.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true

@import "colors";
@import "screen-sizes";
@import "globals";

///* <!-- header --> */
#main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main-nav .main-logo-container .main-logo img {
  height: 2.5rem;
}
#connect-button {
  color: $connect-button-color;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $connect-button-color;
}
#connect-button:hover {
  color: white;
  background-color: $connect-button-hover;
  font-weight: bold;
  border-style: none;
}

///* <!-- home section --> */
#home {
  margin-bottom: 4rem;
}
#home-container {
  background-color: #7510f7;
  background-image: url("../images/hero-img.png");
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: right;
  background-position-y: 0px;
  box-shadow: 5px 10px 18px whitesmoke;
  width: 85%;
  height: auto;
  min-height: 500px;
  border-radius: 50px 0 0 50px;
  float: right;
}
#home-text {
  padding-top: 25vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  font-size: 1.5rem;
  color: white;
}
#home-text a {
  color: white;
  font-size: large;
}

///* <!-- work section --> */
#work-container {
  background-color: #2f3238;
  width: 100%;
  height: auto;
  min-height: 500px;
}
#work-section-title {
  padding-top: 90vh;
  justify-items: center;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 5.5rem;
  font-weight: 1000;
}
#work-section-content {
  padding-bottom: 5rem;
  margin: 0 auto;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.row {
  flex-direction: row;
}
@media only screen and (max-width: $break-large) {
  .row {
    flex-direction: column;
  }
}
#work-row-1 {
  margin: 0;
}
#work-row-2 {
  margin: 0;
}
#work-row-3 {
  margin: 0;
}

.column {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  min-height: 400px;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.work-column {
  border-style: solid;
  border-width: 10px;
  box-shadow: 5px 10px 18px whitesmoke;
  a {
    img {
      height: 4rem;
      margin: auto;
      display: block;
      margin-top: 0;
    }
  }
}
#work-text {
  width: 70%;
  text-align: center;
  margin-bottom: 4rem;
  padding-top: 4rem;
  margin: auto;
  display: block;
}

#work-col-11 {
  width: 50%;
  background-color: #0cac5c;
  border-color: #0cac5c;
}
#work-col-11:hover {
  background-color: black;
}
#work-col-12 {
  width: 50%;
  background-color: beige;
  border-color: beige;
  color: black;
}
#work-col-12:hover {
  background-color: black;
  color: white;
}
#work-col-21 {
  width: 50%;
  background-color: #d8bfd8;
  border-color: #d8bfd8;
}
#work-col-21:hover {
  background-color: black;
}
#work-col-22 {
  width: 50%;
  background-color: #fa8072;
  border-color: #fa8072;
  padding-top: 4.5rem;
  a {
    img {
      width: 20rem;
      height: auto;
    }
  }
}
#work-col-22:hover {
  background-color: black;
}
#work-col-31 {
  width: 100%;
  background-color: #b8860b;
  border-color: #b8860b;
  a {
    img {
      width: 20rem;
      height: auto;
    }
  }
}
#work-col-31:hover {
  background-color: black;
}

///* <!-- about section --> */
#about-description {
  background-color: #7510f7;
  margin-top: -25vh;
  padding-bottom: 10vh;
  color: whitesmoke;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
#about-text {
  padding-top: 40vh;
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
  display: block;
  text-align: center;
}
#about-grid {
  margin: 0 auto;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}
#about-grid-row-1 {
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
}
.about-column {
  width: 48%;
  border-style: solid;
  border-width: 4px;
  border-color: gold;
  background-color: white;
  box-shadow: 5px 10px 18px black;
  border-radius: 20px;

  img {
    margin: 0 auto;
    display: block;
  }

  .about-text {
    width: 70%;
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 4rem;
    margin: auto;
    display: block;
    color: black;
  }
}

///* <!-- footer section --> */
#footer-container {
  color: whitesmoke;
  width: 100%;
}

.call-to-action {
  width: 90vw;
  margin: 0 auto;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #141c3a;
  box-shadow: 5px 10px 18px gray;
  border-radius: 10px;
  position: relative;
  z-index: 1500;
}

#cta-row {
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  align-items: center;
  min-height: 8rem;
}
.footer-col {
  margin: 1rem 0;
  padding: 0;
  width: 33%;
  height: 100%;
  min-height: unset;

  h1,
  p {
    margin: auto;
    margin-bottom: 0;
    text-align: center;
  }
}
#cta-col-11 {
}
#cta-col-12 {
  text-align: center;
}
#cta-col-13 {
  a {
    display: block;
    margin: auto;
  }
}
.button {
  border-style: solid;
  border-width: 1px;
  border-color: #7510f7;
  padding: 0.7rem;
  color: white;
  border-radius: 10px;
  margin-top: -0.7rem;
}
#button_text:hover {
  color: white;
  text-decoration: none;
  background-color: #7510f7;
}

#footer-content {
  background-color: #7510f7;
  margin-top: -4rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#logo-mystertech-icon {
  margin-bottom: 0.5rem;
}
#logo-mystertech {
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}
#quote {
  text-align: center;
}
.icon-3d {
  padding: 10px;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}

.copyright {
  opacity: 0.7;
  position: absolute;
  bottom: 5vh;
}

@media only screen and (max-width: $break-large) {
  .row {
    flex-direction: column;
  }
  #work-col-11,
  #work-col-12,
  #work-col-21,
  #work-col-22,
  #work-col-31 {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  #logo-mystertech {
    text-align: center;
  }
}
